
@page
@model ChatModel

<div class="container">
    <div class="row">
        <div class="col-2">User Name</div>
        <div class="col-6">
            <select id="ddlUserList" style="width:300px">
                @foreach (var item in Model.UserList)
                {
                    <option value="@item.Id">
                        @item.Email
                    </option>
                }
            </select>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-2">Message</div>
        <div class="col-6"><input type="text" id="txtmessage" /></div>
    </div>
    <br />
    <div class="row">
        <div class="col-6">
            <input type="button" id="sendBtn" value="Send" />
        </div>
    </div>
    <input type="hidden" id="userID" asp-for="UserID" />
</div>
<div class="row">
    <div class="col-12">
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-12">
        <ul id="ulmessages">
            @foreach (var item in Model.Messages)
            {
                var preMessage = "";
                <li>
                    @if (item.FromUserID == Model.UserID)
                    {
                        preMessage = "me To " + item.ToUserEmail + " :";
                    }
                    else
                    {
                        preMessage = item.FromUserEmail + " To me :";
                    }
                    @preMessage <b> @item.MessageText </b>
                </li>
            }
        </ul>
    </div>
</div>
<script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>
